@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  height:100%;
  width:100%;
  margin:0px;
  background-color:#0B0E11;
  font-family:'Roboto', sans-serif;
}

::-webkit-scrollbar {
  display:none;
}

::-webkit-input-placeholder {
  color:rgb(100, 100, 100);
}

#layout_wrapper {
  display:flex;
  flex-direction:column;
  position:relative;
  width:100%;
  height:100%;
}


#nav_wrapper {
  height:100%;
  width:16rem;
  position:relative;
  background-color:#323D4D;
  box-sizing:border-box;
}

#personal_nav {
  display:flex;
  width:100%;
  height:50px;
  position:absolute;
  bottom:0px;
  left:0px;
  align-items:center;
  justify-content:flex-end;
  background-color:#242C37;
  color:#fff;
}

#avatar {
  width:32px;
  height:32px;
  border-radius:50%;
  margin-right:auto;
  margin-left:10px;
}

#username_label {
  font-size:17px;
  margin-right:auto;
  margin-left:-41.5%;
}

#settings-btn {
  width:23px;
  height:23px;
  margin-right:15px;
  cursor:pointer;
  padding:3px;
  transition:background-color 100ms ease-out;
  border-radius:4px;
}

#settings-btn:hover {
  background-color:#fff;
}

#contact_search {
  border:none;
  outline:none;
  padding:6px;
  width:88%;
  border-radius:3px;
}

#search {
  width:100%;
  margin-top:11px;
}

#channel_nav {
  display:flex;
  overflow-y:scroll;
  width:100%;
  height:90%;
  margin-top:20px;
  flex-direction:column;
}

.channel_item {
  display:flex;
  width:100%;
  height:50px;
  transition:background-color 100ms;
  cursor:pointer;
  align-items:center;
  justify-content:flex-end;
}
.channel_item:hover { background-color:#242C37; }
.channel_item:hover > .channel_close { opacity:100%; }

.channel_thumbnail {
  width:32px;
  height:32px;
  border-radius:50%;
  margin-right:auto;
  margin-left:10px;
}

.channel_label {
  color:#fff;
  margin-right:auto;
  margin-left:-47%;
}

.channel_close {
  color:#fff;
  margin-right:20px;
  opacity:0%;
}
